.navbar-logo
{
    height: 75px;
}

.top-content{
    margin-top: 75px;
    background-color: white;
}

.stig_logo_dx{
    padding-right: 10%;
    height:250px;
    float: right
}


.section-header{
    border-bottom: 5px solid;
    border-bottom-color: #222
}

th{
    text-align: center;
    font-size: large;
}
tr{
    text-align: center;
    font-size: medium;
}